<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.freefinder">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.freefinder.activities.MapActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.freefinder.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.CategoryListActivity"
            android:label="@string/title_category_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.freefinder.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CategoryDetailActivity"
            android:label="@string/title_category_detail"
            android:parentActivityName=".activities.CategoryListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.freefinder.activities.CategoryListActivity" />
        </activity>
    </application>

</manifest>